---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Main from "../../components/elements/Main.astro";

export const getStaticPaths = (async () => {
  const blogs = await getCollection("blog");
  const paths = blogs.map((blog) => {
    return {
      params: {
        slug: blog?.slug,
      },
      props: {
        blog,
      },
    };
  });
  return paths;
}) satisfies GetStaticPaths;

interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
const { title } = blog?.data;
const { Content } = await blog?.render();
---

<Layout title={`Blog: ${title}`}>
  <Main>
    <a href={"/blog"} class="font-semibold text-neutral-600  text-md italic dark:text-white"
      ><h6>Go Back</h6></a
    >
    <div class="text-emerald-950 prose-sm max-w-none lg:prose-lg dark:text-emerald-200 blog">
      <Content />
    </div>
  </Main>
</Layout>
