---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/elements/Main.astro";
import Section from "../components/elements/Section.astro";
import BlogList from "../components/blog/BlogList.astro";
import TopBar from "../components/TopBar.astro";
import Subtitle from "../components/elements/Subtitle.astro";

const blogs = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

let sortedBlogs = blogs?.sort(
  (prev, next) => next.data.date.valueOf() - prev.data.date.valueOf(),
);
---

<Layout title="Blog">
  <Main>
    <TopBar />
    <p class="text-black dark:text-white my-3 text-opacity-75">
      Using words to explain how I feel and what I'd love to share. Find my
      writings on my next task, my thoughts and also snippets of my life on
      earth
    </p>
    {
      blogs.length > 0 ? (
        <Section>
          <BlogList blogs={sortedBlogs} />
        </Section>
      ) : (
        <Section class="h-screen flex justify-center opacity-40 items-center mt-auto">
          <Subtitle>
            {sortedBlogs.length < 0
              ? "No Blog Post Available"
              : "Working On Something :)"}
          </Subtitle>
        </Section>
      )
    }
  </Main>
</Layout>
