---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/elements/Paragraph.astro";
import Main from "../components/elements/Main.astro";
import Section from "../components/elements/Section.astro";
import Subtitle from "../components/elements/Subtitle.astro";
import TopBar from "../components/TopBar.astro";
import BottomBar from "../components/BottomBar.astro";
import ToolCard from "../components/ToolCard.astro";

import ProjectCard from "../components/ProjectCard.astro";
import { type Project } from "../types/index";
import projects from "../data/projects.json";
---

<Layout title="Somtochukwu">
  <Main>
    <TopBar />

    {/* Top Section */}
    <Section>
      <Paragraph>
        A software engineering student at Aptech. I am passionate about writing
        digital solutions to problems (the right way). I am building my skills
        to be fit for a web developer position by the end of the year.
        <br />
      </Paragraph>
      <Paragraph>
        In my free time, I read books and articles to make me do better as a
        person and as a developer.
      </Paragraph>
    </Section>

    {/* Tools Section */}
    <Section>
      <Subtitle>Tools</Subtitle>
      <Paragraph>
        Below are some technologies(languages and frameworks) which I use to
        build my projects.
      </Paragraph>
      <div
        class="mt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5"
      >
        <ToolCard name="React" />
        <ToolCard name="Astro" />
        <ToolCard name="Tailwindcss" />
        <ToolCard name="Node.js" />
        <ToolCard name="Typescript" />
        <ToolCard name="MySQL" />
        <ToolCard name="SQLite" />
        <ToolCard name="Neovim" />
        <ToolCard name="Python" />
        <ToolCard name="Git" />
      </div>
      <div class="border-[1px] border-neutral-500 rounded-xl p-4 mt-5">
        <Paragraph class="prose-sm">
          Here are other tools I'm currently diving deeper into, intending to
          build something with them to make my workflow much more efficient.
        </Paragraph>
        <div
          class="mt-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5"
        >
          <ToolCard name="Docker" />
        </div>
      </div>
    </Section>

    {/* Projects Section */}
    <Section>
      <Subtitle>Projects</Subtitle>
      <Paragraph>
        In my free time, I try to build things I could use to solve personal
        problems and sometimes just for fun. Here are projects I have worked on
        for problems I face personally or for the sole aim to know how something
        works.
      </Paragraph>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 lg:gap-8 mt-5"
      >
        {
          (projects as Project[]).map((project) => {
            return <ProjectCard project={project} />;
          })
        }
      </div>
    </Section>

    <BottomBar />
  </Main>
</Layout>

{
  /*
    // components breakdown
    // Topbar
    // MiniBlogCard
    // BlogCard
*/
}
