---
import Icon from "./Icon.astro";
---

<footer
  class="w-full mx-auto flex justify-center gap-2 py-4 grayscale border-t-[1px] border-t-emerald-800"
>
  <a
    rel="noreferrer"
    target="_blank"
    href="https://github.com/somtodev"
    title="Github"
  >
    <Icon name="github" />
  </a>
  <a href="mailto:leroynnalue65@gmail.com" title="Send Me A Mail">
    <Icon name="gmail" />
  </a>
  <a
    rel="noreferrer"
    target="_blank"
    href="https://www.linkedin.com/in/somtodev/"
  >
    <Icon name="linkedin" />
  </a>
</footer>
