---
interface Props {
  name: string;
  link?:string;
}

const { name,link } = Astro.props;
---

{
    link ? <a href={link} class="text-neutral-800 dark:text-white">
  {name}  
</a> : 
<a href={`/${name.toLowerCase()}`} class="text-neutral-800 dark:text-white">
  {name}
</a>
}


