---
import NavLink from "./NavLink.astro";
---

<nav
  class="flex flex-col items-center justify-start md:flex-row md:items-start md:justify-between"
>
  <h1
    class="w-full text-xl font-bold text-black lg:text-3xl lg:w-max dark:text-background"
  >
    Somtochukwu
  </h1>
  <ul class="flex gap-2">
    <NavLink name={"Blog"} />
    <NavLink name={"Resume"} />
  </ul>
</nav>
