---
import { type CollectionEntry } from "astro:content";

import Paragraph from "../elements/Paragraph.astro";

interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
const { title, description, date } = blog?.data;
---

<article
  class="border-y-[1px] border-emerald-700 border-opacity-25 py-4 text-white grid grid-cols-1 items-center justify-start lg:grid-cols-6"
>
  <Paragraph class="lg:col-span-2">
    {date.toLocaleString("en-US", { dateStyle: "long" })}
  </Paragraph>
  <div class="lg:col-span-3">
      <a href={`/blog/${blog.slug}`} class="font-bold text-neutral-800 dark:text-white hover:dark:text-emerald-400">{title}</a>
      <Paragraph class="font-600 line-clamp-3">{description}</Paragraph>
    <a href={`/blog/${blog.slug}`}>
      <span class="text-sm font-500 text-neutral-700 dark:text-white hover:dark:text-emerald-400"
        >Read more</span
      >
    </a>
  </div>
</article>
